<h1>Add New Decoration</h1>

<form action="/decorations" method="POST">

    <input type="text" name="title" placeholder="Enter decoration title">
    <br><br>

    <input type="number" name="price" placeholder="Enter price">
    <br><br>

    <input type="text" name="image" placeholder="Enter image URL">
    <br><br>

    <textarea name="description" placeholder="Enter description"></textarea>
    <br><br>

    <button type="submit">Add Decoration</button>

</form>