<% layout("layouts/boilerplate") %>
<h1>Add New Decoration</h1>

<form action="/decorations" method="POST" enctype="multipart/form-data">

    <div class="mb-3">
    <label class="form-label">Decoration Images</label>
    <input type="file" name="images" multiple class="form-control">
    </div>

    <input type="text" name="title" placeholder="Enter decoration title">
    <br><br>

    <input type="number" name="price" placeholder="Enter price">
    <br><br>

    <input type="file" name="image" class="form-control">
    <br><br>

    <div class="mb-3">

<label class="form-label">Decoration Video</label>

<input type="file" name="video" class="form-control">

</div>

    <textarea name="description" placeholder="Enter description"></textarea>
    <br><br>

    <button type="submit">Add Decoration</button>

</form>